<div class="Searchrooms">
  <div class="SearchroomsForm">
    <%= form_with(url: rooms_path, method: :get, class: "form-inline") do |form| %>
      <div class="form-group mr-2">
        <%= form.text_field :address, class: "form-control", placeholder: "エリア名を入力" %>
      </div>
      <div class="form-group mr-2">
        <%= form.text_field :room_name, class: "form-control", placeholder: "キーワード名を入力" %>
      </div>
      <%= form.submit "検索", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
 


<% if @rooms.present? %>
  <p><%= @rooms.size %> rooms found.</p>
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @rooms.each do |room| %>
        <div class="col">
          <% if room.image.attached? %>
            <%= image_tag room.image, size: "350x250" %>
          <% else %>
            <%= image_tag 'room.png', size: "300x250" %>
          <% end %>
          <h3><%= link_to room.room_name, room %></h3>
          <p><%= room.address %></p>
          <p><%= room.room_detail %></p>
          <p>¥<%= room.price %>〜</p>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>

